<?xml version="1.0" encoding="UTF-8"?> 
<Configuration xmlns:log4j="http://jakarta.apache.org/log4j/"> 
	<!-- Appenders --> 
	<Appenders> 
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%c] %m%n" />
		</Console> 
		<RollingFile name="file"
						fileName="D:/logs/ezjobs2.log"
						filePattern="D:/logs/ezjobs2_%d{yyyyMMdd}.log">
			<PatternLayout pattern="%d %-5p [%c] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>
	
	 <!-- Application Loggers -->
	 <Loggers> 
	   	<Logger name="org.springframework" level="DEBUG" additivity="false">
	    	<appender-ref ref="console" />
			<appender-ref ref="file"/>
	    </Logger> 
	    <Logger name="java.sql" level="DEBUG" additivity="false"> 
	    	<appender-ref ref="console" /> 
			<appender-ref ref="file"/>
	    </Logger> 
	    <Logger name="com.bmc.ctmem.emapi" level="DEBUG" additivity="false"> 
	    	<appender-ref ref="console" /> 
			<appender-ref ref="file"/>
	    </Logger> 
	    <Logger name="com.ghayoun.ezjobs" level="DEBUG" additivity="false"> 
	   		<appender-ref ref="console" /> 
			<appender-ref ref="file"/>
        </Logger>
	 </Loggers>
</Configuration>